.mat-toolbar {
  height: 10vh;
}

.logo-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 80px;
  margin-right: 10px;
}

.title {
  font-size: 2em;
  margin-left: 10px;
}

.button-container {
  margin-left: auto;
}

button {
  font-size: 1em;
  padding: 25px 30px;
  margin-right: 10px;
}

// Responsive Styles for Width
@media screen and (max-width: 700px) {
  .logo {
    width: 50px;
  }

  .title {
    font-size: 1.2em;
  }

  button {
    font-size: 0.8em;
    padding: 10px 15px;
  }

  .mat-toolbar {
    height: 8vh;
  }
}

// Responsive Styles for Height
@media screen and (max-height: 600px) {
  .logo {
    width: 60px; // Adjust logo size for smaller height
  }

  .title {
    font-size: 1.2em; // Adjust title size for smaller height
  }

  button {
    font-size: 0.8em; // Adjust button font size for smaller height
  }

  .mat-toolbar {
    height: 10vh; // Adjust toolbar height for smaller height
  }
}
