.mat-toolbar {
  height: 10vh;
}

.logo-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 80px;
  margin-right: 10px;
}

.title {
  font-size: 2em;
  margin-left: 10px;
}

.button-container {
  margin-left: auto;
}

button {
  font-size: 1em;
  padding: 25px 30px;
  margin-right: 10px;
}
