<!-- Navigation Bar -->
<mat-toolbar color="primary">
  <!-- Logo & Title on the Left -->
  <div class="logo-title" (click)="onLogoTitleClick()">
    <img src="\assets\images\logo.png" alt="Logo" class="logo" />
    <span class="title">Shroom Scout</span>
  </div>

  <!-- Register Mushroom Button on the Right -->
  <div class="button-container">
    <button
      mat-raised-button
      color="accent"
      (click)="onRegisterMushroomClick()"
    >
      Pilz eintragen
    </button>
  </div>
</mat-toolbar>
