<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Logo -->
  <a
    class="navbar-brand mb-0 h1"
    style="margin-left: 20px; font-size: xx-large"
  >
    <img
      src="\assets\images\logo.png"
      style="margin-right: 10px"
      height="80"
      alt="Logo"
    />
    Shroom Scout
  </a>

  <!-- 'Register Mushroom' Button -->
  <form class="form-inline ms-auto" style="margin-right: 20px">
    <button
      class="btn btn-primary btn-lg btn-light"
      type="button"
      (click)="onRegisterMushroomClick()"
    >
      Register Mushroom
    </button>
  </form>
</nav>
