// Normal CSS styles
mat-card {
  width: 30vw;
  height: 80vh;
  margin-top: 5vh;
  margin-left: 4.5vw;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  align-self: center;
}

mat-card-content {
  height: 300px;
  overflow-y: auto;
  font-size: 1.5em;
  color: #333;
  font-family: "Roboto", sans-serif;
}

// Responsive styles for reduced width
@media screen and (max-width: 600px) {
  mat-card {
    width: 90vw;
    height: 35vh;
    margin-top: 2vh;
    margin-left: 4.5vw;
    margin-right: 4.5vw;
  }
}
