// Normal CSS styles
mat-card {
  margin-top: 5vh;
  margin-left: 2.5vw;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

mat-form-field {
  width: 30vw;
}

button {
  width: 30vw;
  margin-bottom: 20px;
}

// Responsive styles for reduced width
@media screen and (max-width: 600px) {
  mat-card {
    width: 90vw;
    margin: 2vh 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    color: #333;
    margin: 10px 0px;
    font-family: "Roboto", sans-serif;
  }

  mat-form-field,
  button {
    width: 85vw;
    padding: 0 10px;
  }
}
